/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
body {
background-color: cadetblue;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

.nav-entry-style {
    /* color: aliceblue; */

    /* font-size: 60px; */
}